@using CornerFlag.Data.Models.People
@using CornerFlag.Web.Models;
@using AutoMapper.QueryableExtensions;

@model Player
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>@string.Format("{0} {1}", Model.FirstName, Model.LastName)</h1>
    <h2>@Model.Country.Name</h2>
    <h2>Age: @(Model.Age)</h2>
    <h2>@Model.Position</h2>
    <ul class="list-group">
        @foreach (var team in Model.Teams)
        {
            <li class="list-group-item">
                <a href="~/Teams/@team.Id/Details">@team.Name</a>
            </li>
        }
    </ul>
</div>

<div id="comments-div" class="container">
    @foreach (var comment in Model.Comments.AsQueryable().Project().To<CommentViewModel>())
    {
        @Html.Partial("_CommentView", comment)
    }    
</div>

@if (this.User.Identity.IsAuthenticated)
{
    @Html.Partial("_CommentForm", new PostCommentViewModel(Model.Id))
}
