@{
    ViewBag.Title = "TeamView";
}

@model XMLSoccerCOM.Team
@Html.Partial("_TeamMenu", Model)
<div class="container text-center">
    <h2>@Model.Country</h2>
    <h2>
        <a href="@Model.HomePageURL">Home page</a>
    </h2>
    <h2>
        Venue: @Model.Stadium
    </h2>
    <h2><a href="@Model.WIKILink">Wikipedia</a></h2>
</div>