@model IEnumerable<XMLSoccerCOM.TeamLeagueStanding>

<table class="table">
    <thead>
        <tr>
            <th class="text-center">Pos</th>
            <th class="text-left">Team</th>
            <th class="text-center">Games</th>
            <th class="text-center">For</th>
            <th class="text-center">Against</th>
            <th class="text-center">Diff</th>
            <th class="text-center">Points</th>
        </tr>
    </thead>
    <tbody class="alternate-color-table">
        @{
            int counter = 1;
            foreach (var team in Model)
            {
                <tr class="text-center">
                    <td>@counter</td>
                    <td class="text-left">@team.Team</td>
                    <td>@team.Played</td>
                    <td>@team.Goals_For</td>
                    <td>@team.Goals_Against</td>
                    <td>@team.Goal_Difference</td>
                    <td>@team.Points</td>
                </tr>

                counter++;
            }
        }
    </tbody>
</table>